

{% extends 'flatpages/default.html' %}

{% load custom_filters %}!
<!-- Подключаем новый файл с нашим тегом -->

{% load custom_tags %}

{% block title %}
Articles
{% endblock title %}

{% block content %}

   <h1>Статьи</h1>

   <h3>{% current_time '%b %d %Y' %}</h3>
   <h3> {{ new_ar|default_if_none:"Горячие статьи!" }} </h3>
    <br>
    <br>
    {% if post %}
           {% for post in post %}
               <h4> {{ post.title }} </h4>
               <h6>{{ post.time_in|date:"d.m.Y" }}</h6>
               <hr><a href="{{ post.id }}">{{ post.text|truncatechars:20 }}</a><hr>
           {% endfor %}

   {% else %}
       <h2>Статей нет!</h2>

   {% endif %}
{% endblock content %}

